.BeerList{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}
.BeerList ul{
    list-style: none;
    padding-inline-start: 0;
}
.Button{
    height: 30px;
    margin-top: 25px;
}