.Header{
    height: 75px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(138, 160, 185, 0.74);
    color: white;
    padding: 0 25px;
    box-sizing: border-box;
    align-items: center;
    transition: all 2s ease-in;
}

.HeaderDark{
    height: 75px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(32, 38, 44);
    color: white;
    padding: 0 25px;
    box-sizing: border-box;
    align-items: center;
    transition: all 2s ease-in;
}

.SwitchRaws{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.SwitchRaws button{
    color: rgba(0, 0, 0, 0.87);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 3px 1px -2px rgba(0,0,0,0.12);
    background-color: #e0e0e0;
    padding: 6px 16px;
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    line-height: 1.75;
    font-weight: 500;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: normal;
    word-spacing: normal;
    outline: none;
    margin: 15px 5px;
}
.SwitchRaws button:hover{
    background-color: #d1d1d1;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
